/* basis instellingen */
* {
    margin:0px;
    border: solid 2px rgb(136, 84, 7);
    box-sizing:border-box;
    overflow:auto;
}

/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #000000;  
    
    color: #ffffff;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 800px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgb(255, 0, 0);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

.kolomLinks {
    float: left;
    margin-right: 10px;
    width: 500px;
}

.kolomRechts {
float:right;
width: calc( 100% - 500px - 20px );
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: skyblue;
}




