/* basis instellingen */
* {
    margin:0px;
    border: solid 2px rgb(0, 0, 0);
    box-sizing:border-box;
    overflow:auto;
}

/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #000000; 
    color: #ffffff;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: full;
    position: relative;
}


article {
    text-align: justify;
    font-size: 1.8em;
}


header {
    color: rgb(255, 0, 0);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

.linksboven {
    float: left;
    margin-right: 10px;
    width: 600px;
}
.rechtsOnder{ 
    float: right;
    margin-left: 10px;
    margin-top: 20px;
    width: 600px;
}
.HomeTekstRechts{
    float: right; 
    margin-right: 10px;
    width: calc( 100% - 600px - 20px);

}
.linksOnder{
    float: left;
    margin-right: 10px;
    margin-top: 20px;
    width: calc( 100% - 600px - 20px);
}

.kolomLinks {
    float: left;
    margin-right: 10px;
    width: 800px;
    margin-top: 20px;
}

.lijntjeCocaïne {
    border-top: solid 2px white;
}
.kolomRechts {
float:right;
width: calc( 100% - 800px - 20px );
margin-top: 20px;
}

.smalltext {
    font-size: 0.7em;
    float: bottom;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    width: fit-content;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: black;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: skyblue;
}




